@font-face {
  font-family: "MyFont";
  src: url("Font/MilestoneRegular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: "MyFont", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.bg {
  backgroundsize: "cover";
  backgroundposition: "center";
  backgroundrepeat: "no-repeat";
  height: "100vh";
  width: "100%";
}
