@font-face {
  font-family: "MyFont";
  src: url("Font/MilestoneRegular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: "MyFont", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.LogoName {
  font-family: "MyFont", sans-serif;
  font-size: 40px;
  color: #ffffff;

  background-color: rgba(255, 255, 255, 0.1); /* transparent white */
  backdrop-filter: blur(10px); /* this blurs the background behind it */
  -webkit-backdrop-filter: blur(35px); /* Safari support */

  border: 1px solid rgba(255, 255, 255, 0.2); /* subtle border */
  border-radius: 100px;
  padding: 15px 40px;
  margin: 20px 0 0 0;
}
.Date {
  font-family: "MyFont", sans-serif;
  font-size: 25px;
  color: #ffffff;

  background-color: rgba(255, 255, 255, 0.1); /* transparent white */
  backdrop-filter: blur(10px); /* this blurs the background behind it */
  -webkit-backdrop-filter: blur(35px); /* Safari support */

  border: 1px solid rgba(255, 255, 255, 0.2); /* subtle border */
  border-radius: 100px;
  padding: 28px 60px;
  margin: 20px 0 0 0;
}

.Login {
  font-family: "MyFont", sans-serif;
  font-size: 40px;
  color: #ffffff;

  background-color: rgba(255, 255, 255, 0.1); /* transparent white */
  backdrop-filter: blur(10px); /* this blurs the background behind it */
  -webkit-backdrop-filter: blur(35px); /* Safari support */

  border: 1px solid rgba(255, 255, 255, 0.2); /* subtle border */
  border-radius: 100px;
  padding: 15px 75px;
  margin: 20px 0 0 0;
}

.header {
  display: flex;            
  flex-direction: row;     
  justify-content: space-evenly; 
   align-items: flex-start;       
  gap: 350px;                    
  height: 10vh;
  width: 100%;
  z-index: 2;
}
